
<div class="container is-fluid">
    <div class="columns is-centered">
        <div class="column is-one-fifth">
            <div class="card-image has-text-centered">
                <figure class="image is-207x277">
                    <img src="/images/gisele.jpg"/>
                </figure>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-four-fifths">
            <div class="content has-text-centered">
                {{ .Inner | markdownify }}
            </div>
        </div>
    </div>
</div>

